
{% extends 'base.html' %}
{% block content %}
    <div>
        <h1>Thông liên lạc</h1>
        <form>
            <table>
                <tr>
                    <td  style="text-align: left; ">Họ và tên: </td>
                    <td>
                        <p>{{customer.name_Customer}}</p>
                    </td>
                </tr>
                <tr>
                    <td  style="text-align: left; ">Email: </td>
                    <td>
                        <p>{{customer.email}}</p>
                    </td>
                </tr>
                <tr>
                    <td  style="text-align: left; ">Di động: </td>
                    <td>
                        <p>{{customer.phone_Number}}</p>
                    </td>
                </tr>
                <tr>
                    <td  style="text-align: left; ">{{information_order.qunatity}} </td>
                    <td>
                        <p></p>
                    </td>
                </tr>
            </table>
            <h1>Xác nhận đặt tour</h1>
            <table>
                <tr>
                    <td  style="text-align: left; ">Tour: </td>
                    <td>
                        <p>{{tour.name_Tour}}</p>
                    </td>
                </tr>
                <tr>
                    <td  style="text-align: left; ">Ngày đi: </td>
                    <td>
                        <p>{{tour.date_Start}}</p>
                    </td>
                </tr>
                <tr>
                    <td  style="text-align: left; ">Kéo dài: </td>
                    <td>
                        <p>{{tour.last}}</p>
                    </td>
                </tr>
                <tr>
                    <td  style="text-align: left; ">Xuất phát: </td>
                    <td>
                        <p>{{tour.origin_Place}}</p>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div id="paypal-button-container"></div>
    <script src="https://www.paypal.com/sdk/js?client-id=AafMPuK54i7nuX-h_Dro_o4kcO5CF72_NvPUSb77cMgF3Ec6Yd1HXU1Y1GnyY9wGQ7zGv4Ytr2xN1DYz&currency=USD"></script>
    <script>
        var total = '{{tour.price_Tour}}'
        alert(total)
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        
        function completePayment(){
            var url = "{% url 'selltour:complete' %}"
            var email = '{{customer.email}}'
            fetch(url, {
                method: 'POST',
                headers:{
                    'Content-type':'application/json',
                    'X-CSRFToken': csrftoken
                },
                body:JSON.stringify(email)
            })
        }

        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            style: {
                color:  'blue',
                shape:  'pill',
                label:  'pay',
                height: 40
            },

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: total
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    completePayment()
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                });
            }


        }).render('#paypal-button-container');
    </script>
{% endblock content %}
</body>
</html>
